
{% extends "todo/base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-md-6">
            <div class="mb-3">
                <h1>Password Reset Confirm Enter new password</h1>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Change my password">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
