{% extends "todo/base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-md-10">
            <div class="mb-3">
                <h1>Password Change</h1>

                <form action="" method="post">
                
                    {% csrf_token %}
                
                    {{ form.as_p }}
                
                    <input type="submit" class="btn btn-primary" value="Update">
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
